.fa-js-square {
    color: #F0DB4F;
}
.fa-react {
    color: #61DBFB;
}
.fa-node-js {
    color: #3c873a;
}
.fa-java {
    color: red;
}
.fa-python {
    color: #4B8BBE;
}
.fa-html5 {
    color: #e34c26;
}
.fa-css3-alt {
    color: #264de4;
}
.fa-sass {
    color: #c69;
}
.fa-uikit {
    color: #61DBFB;
}